{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        <div class="container">
            <div class="page-header">
                <h1>Users list</h1>
            </div>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="{{ path('users_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="{{ path('users_show', { 'id': user.id }) }}">show</a>
                                </li>
                                <li class="list-inline-item"> | </li>
                                <li class="list-inline-item">
                                    <a href="{{ path('users_edit', { 'id': user.id }) }}">edit</a>
                                </li>
                                <li class="list-inline-item"> | </li>
                                <li class="list-inline-item">
                                    <a href="{{ path('users_delete', { 'id': user.id }) }}">delete</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="row">
                <ul>
                    <li>
                        <a href="{{ path('users_new') }}">Create a new user</a>
                    </li>
                    <li>
                        <a href="{{ path('user_group_homepage') }}">Back to top</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    
{% endblock %}
