{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>

    <table>
        <tbody>
            <tr>
                <th>Unassign from </th>
                <td>
                	<form class="form" id="internations_usergroupbundle_users" name="internations_usergroupbundle_users" method="post">
		            	<select form="internations_usergroupbundle_users" id="internations_usergroupbundle_users_usergroups" name="internations_usergroupbundle_users[usergroups][]" multiple class="form-control">
		            		{% for group in groups %}
		            			<option value="{{ group.id }}">{{ group.name }}</option>
		        			{% endfor %}
		            	</select>
                        <input type="submit" value="Save" />
		            </form>
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('users_show', { 'id': user.id }) }}">Show user</a>
        </li>
        <li>
            <a href="{{ path('users_edit', { 'id': user.id }) }}">Edit user</a>
        </li>
    </ul>
{% endblock %}
