{% extends 'base.html.twig' %}

{% block body %}
     <div class="main">
        <div class="container">
            <div class="page-header">
                <h1>Create Group</h1>
                <hr>
            </div>
            {{ form_start(form) }}
            <div class="row form-group">
                <div class="col-md-3 text-right font-weight-bold">{{ form_label(form.name) }}</div>
                <div class="col-md-6">{{ form_widget(form.name) }}</div>
            </div>

            <div class="row form-group">
                <div class="col-md-3 text-right font-weight-bold"></div>
                <div class="col-md-6 align-right text-right"><input type="submit" value="Create" /></div>
            </div>
            
            {{ form_end(form) }}

            <div class="row form-group">
                <ul>
                    <li>
                        <a href="{{ path('groups_index') }}">Back to the list</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
