{% extends 'base.html.twig' %}

{% block body %}
     <div class="main">
        <div class="container">
            <div class="page-header">
                <h1>{{ group.name }}</h1>
                <hr>
            </div>

            <div class="row">
                <div class="col-md-2 text-right font-weight-bold">Id</div>
                <div class="col-md-10">{{ group.id }}</div>
            </div>
            <div class="row">
                <div class="col-md-2 text-right font-weight-bold">Name</div>
                <div class="col-md-10">{{ group.name }}</div>
            </div>

            <div class="row">
                <div class="col-md-12">&nbsp;</div>
            </div>
    
            <ul>
                <li>
                    <a href="{{ path('groups_index') }}">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('groups_edit', { 'id': group.id }) }}">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
{% endblock %}
